@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");

#prod {
  font-family: "Michroma", serif;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}
.list {
  display: flex;
  justify-content: space-around;
  height: 250px;
}
.mid {
  color: rgb(99, 173, 213);
  text-align: left;
  width: 40%;
  padding-left: 10px;
  font-weight: 600;
}
.image {
  position: relative;

  width: 30%;
  padding-left: 30px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
.left {
  font-weight: 700;
  font-size: 12px;
  width: 30%;
  text-align: left;
  padding-left: 20px;
}

.image img {
  width: 250px;
  height: 150px;
}
.d {
  color: black;
}
.btn {
  width: 200px;
  height: 40px;
  background-color: rgb(247, 179, 91);
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.pr {
  display: flex;
  gap: 10px;
}
.first {
  color: red;
  font-size: 16px;
}
.redbox {
  position: absolute;
  left: 360px;
  bottom: 200px;
  width: 55px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  font-weight: 700;
}
.shad {
  text-decoration: line-through;
}
.rat {
  color: gold;
  font-size: 21px;
}
.star {
  color: rgb(201, 199, 199);
}
